Create Database QL_VatTu

USE QL_VatTu
Go

--A/ CREATE TABLE VẬT TƯ
CREATE TABLE VATTU (MaVT Char(4),TenVT NVarChar(100), DVTinh NVarChar(10), PhanTram real,
CONSTRAINT Pri_VATTU PRIMARY KEY (MaVT)
)
go
ALTER TABLE VATTU
ADD CONSTRAINT Uni_TenVT UNIQUE (TenVT)

ALTER TABLE VATTU
ADD CONSTRAINT Chk_PhanTram CHECK (PhanTram between 0 and 100)
go
--B/ CREATE TABLE NHÀ CUNG CẤP 
CREATE TABLE NHACC (MaNhaCC Char(4), TenNhaCC NVarChar(100), DiaChi NVarChar(200), DienThoai VarChar(20),
CONSTRAINT Pri_NHACC PRIMARY KEY (MaNhaCC)
)
go
ALTER TABLE NhaCC
ADD CONSTRAINT Uni_TenNhaCC Unique (TenNhaCC)
go
--C/ CREATE TABLE ĐƠN ĐẶT HÀNG
CREATE TABLE DONDH (SoDH char(4), NgayDH Datetime, MaNhaCC char(4),
CONSTRAINT Pri_DONDH PRIMARY KEY (SoDH)
)
ALTER TABLE DONDH
ADD CONSTRAINT For_DONDH_NHACC FOREIGN KEY (MaNhaCC) REFERENCES NHACC(MaNhaCC)
go
--D/ CREATE TABLE CHI TIẾT ĐƠN ĐẶT HÀNG
CREATE TABLE CTDONDH(SoDH Char(4), MaVT Char(4), SlDat int
CONSTRAINT Pri_CTDONDH PRIMARY KEY (SoDH,MaVT)
)

ALTER TABLE CTDONDH
ADD CONSTRAINT Chk_SlDat CHECK(SlDat > 0)
go
--E/ CREATE TABLE PHIẾU NHẬP HÀNG
CREATE TABLE PNHAP(SoPN Char(4), NgayNhap Datetime, SoDH Char(4),
CONSTRAINT Pri_PNHAP PRIMARY KEY (SoPN)
)

ALTER TABLE PNHAP
ADD CONSTRAINT For_PNHAP_DONDH FOREIGN KEY (SoDH) REFERENCES DONDH(SoDH)
go
--F/ CREATE TABLE CHI TIẾT PHIẾU NHẬP HÀNG
CREATE TABLE CTPNHAP( SoPN Char(4), MaVT Char(4), SlNhap int, DgNhap Int,
CONSTRAINT Pri_CTPNHAP PRIMARY KEY (SoPN, MaVT)
)

ALTER TABLE CTPNHAP
ADD CONSTRAINT For_CTPNHAP_PNHAP FOREIGN KEY (SoPN) REFERENCES PNHAP(SoPN);

ALTER TABLE CTPNHAP
ADD CONSTRAINT For_CTPNHAP_VATTU FOREIGN KEY (MaVT) REFERENCES VATTU(MaVT);

ALTER TABLE CTPNHAP
ADD CONSTRAINT Chk_SlNhap CHECK (SlNhap > 0)

ALTER TABLE CTPNHAP
ADD CONSTRAINT Chk_DgNhap CHECK (DgNhap > 0)

--G/ CREATE TABLE Phiếu xuất hàng

CREATE TABLE PXUAT(SoPX Char(4), NgayXuat Datetime, TenKH NVarChar(100),
CONSTRAINT Pri_PXUAT PRIMARY KEY (SoPX)
)

--H/ CREATE TABLE Chi tiết xuất hàng CTPXUAT

CREATE TABLE CTPXUAT(SoPX Char(4), MaVT Char(4), SlXuat int, DgXuat int,
CONSTRAINT Pri_CTPXUAT PRIMARY KEY (SoPX, MaVT)
)

ALTER TABLE CTPXUAT
ADD CONSTRAINT For_CTPXUAT_PXUAT FOREIGN KEY(SoPX) REFERENCES PXUAT(SoPX)

ALTER TABLE CTPXUAT
ADD CONSTRAINT For_CTPXUAT_VATTU FOREIGN KEY(MaVT) REFERENCES VATTU(MaVT)

ALTER TABLE CTPXUAT
ADD CONSTRAINT Chk_SlXuat CHECK(SlXuat>0)

ALTER TABLE CTPXUAT
ADD CONSTRAINT Chk_DgXuat CHECK(DgXuat>0)

--I/ CREATE TABLE Tồn kho
CREATE TABLE TONKHO(NamThang Char(6), MaVT Char(4), SLDau int, TongSLN int, TongSLX int, SLCuoi int
CONSTRAINT Pri_TONKHO PRIMARY KEY (NamThang, MaVT)
)
ALTER TABLE TONKHO
ADD CONSTRAINT For_TONKHO_VATTU FOREIGN KEY (MaVT) REFERENCES VATTU(MaVT)

--Câu 3. Sử dụng các câu lệnh INSERT INTO để thêm dữ liệu mẫu vào các bảng :
--1.INSERT vào bảng VATTU
INSERT INTO VATTU VALUES('C001',N'Cát',N'Khối',10.00)
INSERT INTO VATTU VALUES('D001',N'Đá',N'Xe',10.00)
INSERT INTO VATTU VALUES('G001',N'Gạch bốn lỗ',N'Viên',10.00)

SELECT * FROM VATTU

--2.INSERT vào bảng NHACC
INSERT INTO NHACC VALUES('A001',N'Hồng Phương',N'234 Lê Lợi Q1 HCM','9628199')
INSERT INTO NHACC VALUES('A002',N'Minh Trung',N'89 Cao Thắng Q3 HCM','8555444')
INSERT INTO NHACC VALUES('A003',N'Nhật Thắng',N'234/2 Lê Lợi Mỹ Tho','7555666')

SELECT * FROM NHACC

--3.INSERT vào bảng DONDH
INSERT INTO DONDH VALUES('D001','2003-01-05','A003')
INSERT INTO DONDH VALUES('D002','2003-01-17','A012')
INSERT INTO DONDH VALUES('D003','2003-01-20','C001')

SELECT * FROM DONDH

--4.INSERT vào bảng CTDONDH
INSERT INTO CTDONDH VALUES('D001','G001',1300)
INSERT INTO CTDONDH VALUES('D001','SN01',60)
INSERT INTO CTDONDH VALUES('D002','S001',1000)

SELECT * FROM CTDONDH

--5.INSERT vào bảng PNHAP
INSERT INTO PNHAP VALUES('N001','2003-01-07','D001')
INSERT INTO PNHAP VALUES('N002','2003-01-20','D002')
INSERT INTO PNHAP VALUES('N003','2003-01-22','D001')

SELECT * FROM PNHAP

--6.INSERT vào bảng CTPNHAP
INSERT INTO CTPNHAP VALUES('N001','G001',1000,500)
INSERT INTO CTPNHAP VALUES('N001','SN01',55,120000)
INSERT INTO CTPNHAP VALUES('N002','S001',800,9500)

SELECT * FROM CTPNHAP

--7.INSERT vào bảng PXUAT
INSERT INTO PXUAT VALUES('X001','2003-01-09',N'Nguyễn Văn Sanh')
INSERT INTO PXUAT VALUES('X002','2003-01-28',N'Phạm Thoại Hoa')

SELECT * FROM PXUAT

insert into CTPXUAT values('X001','G001',300,600)
insert into CTPXUAT values('X001','SN01',50,132000)
insert into CTPXUAT values('X002','G001',200,900)

select * from dbo.CTPXUAT

insert into TONKHO values(200301,'G001',0,1300,500,800)
insert into TONKHO values(200301,'SN01',0,60,50,10)
insert into TONKHO values(200301,'S001',0,800,300,00)

select * from TONKHO
--C35
create proc C35 (@namthang char (6),@maVTu char(4),@socuoiky int output)
as
begin
set @socuoiky=isnull((select SLcuoi from TONKHO where NamThang=@namthang and MaVT=@maVTu),0)
end
declare @soCK int 
exec C35 200501,'G001', @soCK output 
print @soCK
--C36 
create proc C36 
as
begin
select*from VATTU 
end
--C37
create proc46 (@mathang
as
begin
select TenVT from VATTU,TONKHO where VATTU.MaVT=TONKHO.MaVT
end
 declare @ban
 exec C47 200301
 

